body {
  color: #fff;
  font-family:'Nunito', sans-serif;
  text-align: center;
  background-color: #343434;
}

h1 {
  font-size: 60px;
}
h3 {
  font-size: 30px;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, auto);
  gap: 3px;
  max-width: 964px;
  margin: 0 auto;
}

#grid-container > .category-items {
  background-color: #D3D3D3;
  padding: 20px;
  text-transform: uppercase;
  color: #343434;
  font-weight: bold;
}

#grid-container > div {
  background-color: #3bbced;
  padding: 30px;
}


/* Input form and Guess & Pass buttons */
.input-div {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
  margin: 0 auto;
  /* background-color: #D3D3D3; */
}

.input-div > input {
  border: 2px solid black;
  width: 16%;
  height: 40px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.input-div > div > a {
  border: 2px solid black;
  width: 25%;
  padding: 12px;
  margin: 20px;
  margin-bottom: 10px;
  text-decoration: none;
  /* margin: 10px; */
  color: black;
  background-color: chocolate;
}

.player-score {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
  padding: 20px;
  font-size: 20px;
}

.next-round-btn {
  display: flex;
  justify-content: space-around;
  /* margin-left: 100px */
}

.next-round-btn > a {
    border: 2px solid black;
    width: 8%;
    padding: 8px;
    /* margin: 20px; */
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 20px;
    /* margin: 10px; */
    color: black;
    background-color: chocolate;
}

.footer > h2{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D3D3D3;
  height:50px;
  border: 2px solid black;
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
  color: black;
}


/* LANDING PAGE CSS */
.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 964px;
  margin: 0 auto;

}

.page-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}

.page-items > h1 {
  font-size: 70px;
}


.page-items > img {
  width: 864px;
  border: 2px solid black;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.page-items > a {
  border: 2px solid black;
  width: 8%;
  padding: 8px;
  /* margin: 20px; */
  margin-bottom: 10px;
  text-decoration: none;
  font-size: 20px;
  /* margin: 10px; */
  color: black;
  background-color: chocolate;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 30px;
}


.page-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D3D3D3;
  height: 50px;
  border: 2px solid black;
  width: 60%;
  margin: 0 auto;
  margin-top: 30%;
  color: black;
}

/* FINAL PAGE */

.container {
 display: flex;
 flex-direction: column;
 justify-content: space-around;
}

.container > h1 {
  font-size: 60px;
  margin: 0;
  margin-bottom: 20px;
}

.container > h3 {
  font-size: 30px;
  margin: 0;
}

.container > h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D3D3D3;
  height: 40px;
  width: 46.96%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid black;
}

.final-items > textarea {
  text-align: center;  
  display: inline-block;
  vertical-align: middle;
  padding-top:100px;
}

.final-input > input {
  margin: 10px;
  margin-top: 25px
}
  
input {
  padding: 10px;
  margin-bottom: 20px; 
}

.bet-btn {
  border: 2px solid black;
  width: 8%;
  padding: 5px 25px 5px 25px;
  margin-bottom: 20px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  background-color: chocolate;
  margin: 0 auto;
}

.final-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D3D3D3;
  height: 50px;
  border: 2px solid black;
  width: 50%;
  margin: 0 auto;
  margin-top: 30%;
  color: black;
}